<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-SimpleMatrix.WebSite;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SimpleMatrix.WebSite" providerName="System.Data.SqlClient" />
  <add name="NServiceBus/Transport" connectionString="" />
</connectionStrings>
