<html>
<head>
    <style type="text/css">
        table
        {
            border-collapse: collapse;
            border: 1px solid gray;
            width: 80%;
        }
        table td
        {
            border: 1px solid gray;
        }
        .auto-style1
        {
            width: 20%;
            direction: ltr;
        }
    </style>

    <title>Particular Backend Error</title>
</head>
<body style="width: 98%; margin-left: 10px;">
    <div>
        <p>ServiceContron published a MessageFailed event:</p>
        <p>
            {context}<br />
            <br />
        </p>
    </div>
</body>
</html>
