<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Amazon.ECommerce;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Amazon.ECommerce" providerName="System.Data.SqlClient" />
  <add name="NServiceBus/Transport" connectionString="" />
</connectionStrings>
