<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net45" />
  <package id="NServiceBus" version="4.7.5" targetFramework="net45" />
  <package id="NServiceBus.CastleWindsor" version="4.7.5" targetFramework="net45" />
  <package id="NServiceBus.Host" version="4.7.1" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="4.7.5" targetFramework="net45" />
  <package id="NServiceBus.RavenDB" version="1.0.1" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2908" targetFramework="net45" />
</packages>