<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
     <add key="NServiceBusConnectionString" value="xxxxxxx" />
    <add key="ServiceControl/Queue" value="particular.servicecontrol" />
    <add key="EndpointName" value="SampleEndpoint" />
  </appSettings>
</configuration>