<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>NServiceBus</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>msbuild src\NServiceBus.Backend.sln /t:Clean;Rebuild /p:Configuration=Release</BuildCommand>
  <FastBuildCommand>msbuild src\NServiceBus.Backend.sln /t:Build /p:Configuration=Debug</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://builds.particular.net/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" StabilityConvention="None" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" StabilityConvention="None" />
  </Feeds>
  <Nugets>
    <Dependency Name="AutoMapper" Version="3.2.1" Mode="Fixed" />
    <Dependency Name="CsQuery" Version="1.3.3" Mode="Fixed" />
    <Dependency Name="FluentValidation-Signed" Version="5.0.0.1" Mode="Fixed" />
    <Dependency Name="HtmlAgilityPack" Version="1.4.6" Mode="Fixed" />
    <Dependency Name="log4net" Version="1.2.10" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.Mvc" Version="4.0.30506.0" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.WebApi.Client" Version="5.1.0" Mode="Fixed" />
    <Dependency Name="Microsoft.CompilerServices.AsyncTargetingPack" Version="1.0.1" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.Edm" Version="5.2.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.OData" Version="5.2.0" Mode="Fixed" />
    <Dependency Name="Microsoft.WindowsAzure.ConfigurationManager" Version="1.8.0.0" Mode="Fixed" />
    <Dependency Name="Nancy" Version="0.22.2" Mode="Fixed" />
    <Dependency Name="Nancy.Hosting.Self" Version="0.22.2" Mode="Fixed" />
    <Dependency Name="Nancy.Testing" Version="0.22.2" Mode="Fixed" />
    <Dependency Name="netDumbster" Version="1.3.0.6" Mode="Fixed" />
    <Dependency Name="Newtonsoft.Json" Version="5.0.8" Mode="Fixed" />
    <Dependency Name="NServiceBus" Version="4.6.1" Mode="Fixed" />
    <Dependency Name="NServiceBus.Host" Version="4.6.1" Mode="Fixed" />
    <Dependency Name="NServiceBus.Interfaces" Version="4.6.1" Mode="Fixed" />
    <Dependency Name="NServiceBus.RavenDB" Version="0.2.0" Mode="Fixed" />
    <Dependency Name="NUnit" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="OctoPack" Version="2.0.20" Mode="Fixed" />
    <Dependency Name="OpenPop.NET" Version="2.0.5.1063" Mode="Fixed" />
    <Dependency Name="RavenDB.Client" Version="2.5.2851" Mode="Fixed" />
    <Dependency Name="RavenDB.Database" Version="2.5.2851" Mode="Fixed" />
    <Dependency Name="RavenDB.Embedded" Version="2.5.2851" Mode="Fixed" />
    <Dependency Name="RavenDB.Tests.Helpers" Version="2.5.2851" Mode="Fixed" />
    <Dependency Name="ServiceControl.Plugin.CustomChecks" Version="1.0.0" Mode="Fixed" />
    <Dependency Name="ServiceControl.Plugin.Heartbeat" Version="1.0.0" Mode="Fixed" />
    <Dependency Name="ServiceControl.Plugin.SagaAudit" Version="1.0.0" Mode="Fixed" />
    <Dependency Name="SharpZipLib" Version="0.86.0" Mode="Fixed" />
    <Dependency Name="System.Spatial" Version="5.2.0" Mode="Fixed" />
    <Dependency Name="WindowsAzure.Storage" Version="2.0.6.1" Mode="Fixed" />
    <Dependency Name="xunit" Version="1.9.2" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>