<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<configuration>
	<configSections>
		<section name="MessageForwardingInCaseOfFaultConfig"
		         type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
		<section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
		<section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
		<section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
		<section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core" />
	</configSections>
	<!--<MessageForwardingInCaseOfFaultConfig 
    ErrorQueue="The queue to which errors will be forwarded." />-->
	<MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
	<TransportConfig MaximumConcurrencyLevel="30" MaxRetries="1" />
	<!-- You can configure the time, in seconds, that the time span between retries should increase 
       And the number of second level retries.  -->
	<SecondLevelRetriesConfig Enabled="true" TimeIncrease="00:00:04" NumberOfRetries="1" />

	<UnicastBusConfig ForwardReceivedMessagesTo="audit">
		<MessageEndpointMappings>
			<add Assembly="ServiceControl.Raygun.Notifications.Messages"
			     Type="ServiceControl.Raygun.Notifications.Messages.Commands.MyTestCommand"
			     Endpoint="ServiceControl.Raygun.Notifications" />
		</MessageEndpointMappings>
	</UnicastBusConfig>
	<!--<AuditConfig 
    QueueName="The address to which messages received will be forwarded."
    OverrideTimeToBeReceived="The time to be received set on forwarded messages, specified as a timespan see http://msdn.microsoft.com/en-us/library/vstudio/se73z7b9.aspx"  />-->
	<AuditConfig QueueName="audit" />
</configuration>