<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net40" />
  <package id="NServiceBus" version="4.0.3" targetFramework="net40" />
  <package id="NServiceBus.CastleWindsor" version="4.0.3" targetFramework="net40" />
  <package id="NServiceBus.Host" version="4.0.3" targetFramework="net40" />
  <package id="NServiceBus.Interfaces" version="4.0.3" targetFramework="net40" />
  <package id="T4Scaffolding.Core" version="1.0.0" targetFramework="net40" />
</packages>