<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <appSettings>
    <add key="Environment" value="dev" />
    <add key="NServiceBusConnectionString"
         value="Endpoint=sb://{YOUR_CONNECTION_STRING}" />
    <add key="ServiceControl/Queue" value="particular.servicecontrol" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EndpointName" value="ServiceControlEvents" />
    <!--<add key="SlackUrlWithAccessToken" value="https://{your_account}.slack.com/services/hooks/incoming-webhook?token={your_access_token}" />-->
    <add key="SlackUrlWithAccessToken"
         value="https://hooks.slack.com/services/{XXXX}" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>